<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light-about">
      </div>
    </div>
    <div class="row">
      <div class="cv-section">
        <p>
          I am an enthusiastic physicist and data scientist, deeply motivated by the pursuit of knowledge. Currently based in Cambridge, UK,
           I have been actively engaged in research to unravel scientific truths and translate them into real-world applications. My diverse 
           experience spans photonics, quantum computing, medical physics, industrial sensing, electrochemistry, and sustainability, allowing 
           me to explore a wide range of fascinating topics. I am currently seeking opportunities that allow be to combine my 
          technical knowledge and passion for research with a creative edge. I am looking for positions as a Tools programmer, Gameplay 
          programmer in video game studios or other creative settings. 
          </p>
      </div>
    </div>
  </div>
</section>
